asgiref==3.6.0
dj-database-url==2.0.0
Django==4.2
django-environ==0.10.0
django-heroku==0.3.1
gunicorn==20.1.0
numpy==1.24.3
psycopg2==2.9.6
python-decouple==3.8
scipy==1.10.1
sqlparse==0.4.4
typing_extensions==4.6.2
tzdata==2023.3
whitenoise==6.4.0
XlsxWriter==3.1.0
