{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>

            {% block titleprefix %}Cow Progress |{% endblock %}

            {% block title %}{% endblock %}

        </title>
        <link rel="icon"
              type="image/svg+xml"
              href="{% static 'media/favicon.svg' %}">
        <link rel="icon" type="image/png" href="{% static 'media/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/extends.css' %}">
        <script src="{% static 'js/util.js' %}"></script>

        {% block links %}{% endblock %}

    </head>
    <body>
        <div class="alert" id="alert"></div>
        <nav>
            <a class="home-link" href="/">Cow Progress</a>

            {% if user.is_authenticated %}
                <a href="/herds">Herds</a>
                <a href="/classes">Classes</a>

                {% if user.is_staff %}<a href="/admin">Admin</a>{% endif %}

                <a href="/account">Account</a>
                <a onclick=" cancelNav(this, 'Confirm logout', 'Are you sure you want to log out?', 'Logout', 'Cancel'); return false;"
                   href="/auth/logout">Logout</a>
            {% else %}
                <a href="/auth/register">Create Account</a>
                <a href="/auth/login">Login</a>
            {% endif %}

        </nav>
        <main>

            {% block body %}
            {% endblock body %}

        </main>
        <footer>
        </footer>
    </body>
</html>
