{% load static %}
{% load dic %}
{% load navpath %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Simulate Holstein breeding programs,
              focusing on PTAs, genetic recessives and
              inbreeding coefficients." />
    <title>
      {% block titleprefix %}
        Cow Progress |
      {% endblock %}

      {% block title %}

      {% endblock %}
    </title>
    <link rel="icon" type="image/svg+xml" href="{% static 'media/favicon.svg' %}" />
    <link rel="icon" type="image/png" href="{% static 'media/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/extends.css' %}" />
    <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
    <script src="{% static 'js/util.js' %}"></script>

    {% block links %}

    {% endblock %}
  </head>
  <body class="{{ request.COOKIES|dic:'theme' }}">
    <div class="alert" id="alert"></div>
    <nav>
      <div class="path">
        {% navpath %}
      </div>

      <button onclick="toggleTheme()" class="theme-toggle" title="toggle color theme" type="button">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="272.000000pt" height="272.000000pt" viewBox="0 0 272.000000 272.000000" preserveAspectRatio="xMidYMid meet">
          <g transform="translate(0.000000,272.000000) scale(0.100000,-0.100000)" stroke="none">
            <path d="M1185 2709 c-415 -53 -812 -318 -1017 -679 -115 -202 -175 -465 -165 -715 13 -325 123 -606 330 -844 543 -626 1511 -626 2054 0 492 567 430 1424 -138 1916 -291 253 -680 370 -1064 322z m425 -136 c420 -83 783 -403 923 -813 47 -138 62 -232 62 -400 0 -168 -15 -262 -62 -400 -122 -357 -416 -651 -773 -773 -80 -27 -188 -51 -282 -62 l-58 -6 0 1241 0 1241 58 -6 c31 -4 91 -14 132 -22z" />
          </g>
        </svg>
      </button>

      {% if user.is_authenticated %}
        {% if user.is_staff %}
          <a href="/admin/">Admin</a>
        {% endif %}

        <a href="/account/">Account</a>
        <a onclick="cancelNav(this, 'Confirm logout', 'Are you sure you want to log out?', 'Logout', 'Cancel'); return false;" href="/auth/logout/">Logout</a>
      {% else %}
        <a href="/auth/register/">Create Account</a>
        <a href="/auth/login/">Login</a>
      {% endif %}
    </nav>

    <main>
      {% block body %}

      {% endblock %}
    </main>
    <footer></footer>
  </body>
</html>
