main {
    background-color: var(--prime);
    width: min(600px, calc(100% - 20px));
    margin-inline: auto;
    margin-top: 10px;
}

main h1 {
    text-align: center;
    background-color: var(--secondary);
    margin: 0;
    padding: 10px;
    font-size: 3rem;
}

main .content {
    text-align: center;
    padding: 10px;
}