body {
    --prime: #505071;
    --secondary: #507150;
    --neutral: #90806f;
    --light: #e0e0e0;
    --transparent: #000b;
    --select: #ffffff80;
}

body.dark {
    --prime: #333333;
    --secondary: hsl(120, 100%, 6%);
    --neutral: #0d0d0d;
    --light: #9d9d9d;
    --select: #002c0080;
}