::-moz-selection {
    background: var(--select);
}

::selection {
    background: var(--select);
}

body {
    margin: 0;
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--neutral);
}


nav {
    display: flex;
    background-color: var(--prime);
    align-items: center;
}

nav a {
    display: block;
    padding: 10px;
    color: var(--light);
    text-decoration: none;
}

nav div.path {
    margin-right: auto;
    display: flex;
    padding: 10px;
}

nav div.path a {
    padding: 0;
    margin-right: 10px;
}

nav div.path a:hover {
    background-color: inherit;
}

nav a:hover {
    background-color: var(--secondary);
}

nav button {
    background-color: transparent;
    border: none;
    fill: var(--light);
    height: 35px;
    margin: 0;
}

nav button:hover {
    filter: none;
}

nav button svg {
    transition: transform 0.25s;
    width: 100%;
    height: 100%;
}

nav button:hover svg {
    transform: rotate(180deg);
}

input,
button,
textarea,
.as-btn,
.as-input,
select {
    margin-top: 2px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid var(--light);
    color: var(--light);
    font-size: 0.8rem;
    background-color: var(--secondary);
}

button:hover:disabled,
button:disabled {
    filter: brightness(50%);
}

.as-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

button:hover,
.as-btn:hover {
    filter: brightness(90%);
    cursor: pointer;
}

summary:hover {
    filter: brightness(90%);
    background-color: var(--prime);
    cursor: pointer;
}


* {
    box-sizing: border-box;
}

h1 {
    margin: 20px 0;
}


.pow {
    font-style: italic;
    font-weight: bold;
}

.as-link {
    filter: brightness(70%);
    color: inherit;
    text-decoration: none
}

.as-link:hover {
    filter: brightness(100%);
    text-decoration: underline;
}

.alert {
    position: fixed;
    z-index: 99;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: var(--transparent);
}

.alert.on {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert div {
    padding: 10px;
    background-color: var(--prime);
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    max-width: 500px;
}

.alert div h1 {
    margin: 0;
    text-align: center;
}

.alert div span {
    margin: 10px 0;
    text-align: justify;
}