main .info-panel {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-direction: row;
    margin-top: 10px;
    margin-inline: 10px;
}

main .info-panel .large {
    position: relative;
    width: calc(100% - 310px);
    margin: 0;
    padding: 10px;
    background-color: var(--prime);
}

main .info-panel .small {
    position: relative;
    object-fit: cover;
    object-position: 0% 0%;
    width: 300px;
    height: 100%;
    filter: brightness(90%);
    margin: 0;
    background-color: var(--prime);
}

main .info-panel .full {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: var(--prime);
}

main .info-panel .subnote {
    position: relative;
    z-index: 1;
}

main .info-panel .big {
    font-size: 4rem;
}

main .info-panel .subnote {
    position: absolute;
    bottom: 7px;
    left: 10px;
    font-size: 0.8rem;
}

main .info-panel .background-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main .info-panel .center {
    text-align: center;
}

main .info-panel .poptext {
    position: relative;
    z-index: 1;
}

main .info-panel .lines {
    white-space: pre-line;
}

main .classes {
    margin: 10px;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}

main .classes a {
    text-align: left;
    display: block;
}

main .classes a.add-class {
    background-color: var(--prime);
}

main .credit-btn {
    margin: 10px;
    width: calc(100% - 20px);
}

main .hero-text {
    font-size: min(2rem, 3.5vw);
    text-align: center;
}