body .table-container {
    padding: 20px;
}

body h1 {
    text-align: center;
    background-color: var(--prime);
    margin: 20px 20px 0 20px;
    padding: 10px;
}

body table {
    width: 100%;
    border-collapse: collapse;
}

body table tr {
    background-color: var(--prime);
}

body table tr:nth-child(even) {
    background-color: var(--secondary);
}

body table td,
body table th {
    padding: 5px;
}