main .table-container {
    padding: 20px;
}

main h1 {
    text-align: center;
    background-color: var(--prime);
    margin: 20px 20px 0 20px;
    padding: 10px;
}

main table {
    width: 100%;
    border-collapse: collapse;
}

main table tr {
    background-color: var(--prime);
    text-align: left;
}

main table tr:nth-child(even) {
    background-color: var(--secondary);
}

main table td:first-child {
    width: 30%;
}

main table td,
main table th {
    padding: 5px;
}