{% extends "../extends.html" %}
{% load dic %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth_form.css' %}">
{% endblock links %}

{% block body %}
    <form method="POST">
        <h1>Login</h1>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
            <br>
        {% endif %}
        {% for field in form %}
            {{ field.label }}
            {{ field }}
            {{ field.errors }}
            <div class="help">{{ field.help_text }}</div>
            <br>
        {% endfor %}
        <button type="submit">Login</button>
        <a class="as-btn" href="/auth/password-reset">Can't Remember Password</a>
    </form>
{% endblock body %}
