{% extends "../extends.html" %}

{% load dic %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth_form.css' %}">
{% endblock links %}

{% block body %}
    <form method="POST">
        {% csrf_token %}

        <h1>Login</h1>
        {{ form }}

        <br>
        <button type="submit">Login</button>
        <a class="as-btn" href="/auth/password-reset">Can't Remember Password</a>
    </form>
{% endblock body %}
