{% extends '../extends.html' %}

{% load dic %}
{% load static %}

{% block title %}
  Password
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/auth_form.css' %}" />
{% endblock %}

{% block body %}
  <form>
    <h1>Password Reset Email Sent</h1>
    <div class="text">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

      If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</div>
  </form>
{% endblock %}
