{% extends '../extends.html' %}

{% load dic %}
{% load static %}

{% block title %}
  Password
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/auth_form.css' %}" />
{% endblock %}

{% block body %}
  <form method="POST">
    {% csrf_token %}
    <h1>Change Password</h1>

    {% if form.non_field_errors %}
      {{ form.non_field_errors }}
      <br />
    {% endif %}

    {% for field in form %}
      {{ field.label }}
      {{ field }}
      {{ field.errors }}
      <div class="help">{{ field.help_text }}</div>
      <br />
    {% endfor %}

    <button type="submit">Change Password</button>
  </form>
{% endblock %}
