{% extends "../extends.html" %}
{% load dic %}
{% load static %}

{% block title %}
Password
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth_form.css' %}">
{% endblock links %}

{% block body %}
    <form method="POST">
        <h1>Forgot Login?</h1>
        <div class="text">
            Forgotten your password?
            Enter your email address below,and we'll email instructions for setting a new one.
        </div>
        <br>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
            <br>
        {% endif %}
        {% for field in form %}
            {{ field.label }}
            {{ field }}
            {{ field.errors }}
            <div class="help">{{ field.help_text }}</div>
            <br>
        {% endfor %}
        <button type="submit">Reset Password</button>
    </form>
{% endblock body %}
