main form {
    display: flex;
    flex-flow: column;
    max-width: 550px;
    margin-inline: auto;
    margin-top: 20px;
    background-color: var(--prime);
    padding: 20px;
}

main form input {
    margin-bottom: 3px;
}

main form .helptext {
    margin: 0;
}

main form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main form .errorlist {
    font-weight: bold;
    color: red;
}

main form h1 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

main form .text {
    white-space: pre-line;
    text-align: center;
}