main {
    display: flex;
}

main .grid {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    gap: 10px;
    margin-inline: auto;
}

main .forms form {
    display: flex;
    flex-flow: column;
    width: 400px;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--prime);
    margin-inline: auto;
}

main textarea {
    resize: vertical
}

main .forms form input,
main .forms form textarea {
    margin-bottom: 20px;
}

main .forms form .helptext {
    margin: 0;
}

main .forms form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main .forms form .errorlist {
    color: red;
    font-weight: bold;
}

main .forms form h1 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

main .enrollments {
    width: fit-content;
    margin: 20px auto 0 auto;
}

main .enrollments h1 {
    width: 400px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    background-color: var(--prime);
}

main .enrollment-wrapper {
    background-color: var(--prime);
    padding: 10px;
}

main .enrollment-wrapper>summary {
    font-size: 1.5rem;
    padding: 5px;
}

main .enrollment {
    display: flex;
    flex-flow: column;
    padding: 20px;
    background-color: var(--secondary);
}

main .enrollment a.as-btn {
    background-color: var(--prime);
}


main .enrollment .classinfo {
    display: flex;
    flex-direction: column;
}

main .enrollment form {
    display: flex;
    flex-direction: column;
}

main .enrollment details {
    margin-top: 20px;
}

main .enrollment label {
    margin-top: 20px;
}

main .enrollment button[type=submit] {
    margin-top: 20px;
}

main .enrollment .ptas div,
main .enrollment .recessives div {
    columns: 2;
}


main .enrollment .ptas span,
main .enrollment .recessives span {
    display: block;
}

main .enrollment:nth-child(even) input,
main .enrollment:nth-child(even) button,
main .enrollment:nth-child(even) textarea {
    background-color: var(--prime);
}

main .enrollment details summary {
    padding: 5px;
}

main .enrollment:nth-child(odd) details summary:hover {
    background-color: var(--secondary);
}

main .enrollment details .members {
    padding-left: 5px;
}

main .enrollment details .members .member {
    margin: 5px 0 5px 5px;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    border-left: 2px solid;
}

main .enrollment details .members .member button {
    width: 100%;
}

main .enrollments form {
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}