main {
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: auto;
    padding: 10px;
}

main .panel.left details {
    margin-bottom: 5px;
    background-color: var(--prime);
}

main .panel.left details:last-child {
    margin-bottom: 0;
}

main .panel.left details summary {
    padding: 10px;
}

main .panel.left details form {
    padding: 10px;
}

main .panel.left .title button,
main .panel.left .title .as-btn {
    width: 100%;
}


main .panel.left .breed-herd form {
    display: flex;
    flex-flow: column;
}

main .panel.left .breed-herd form .bulls .single-bull {
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

main .panel.left .breed-herd form .bulls .single-bull p {
    top: 1px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

main .panel.left .breed-herd form .bulls .single-bull p input {
    width: 70%;
}

main .panel.left .breed-herd form .bulls .single-bull p button {
    width: calc(30% - 3px);
}

main .panel.left .breed-herd form .bulls .single-bull span {
    font-size: 0.8rem;
}

main .panel.left .sort form {
    margin-bottom: 3px;
}

main .panel.left .sort form select {
    padding: 3px;
    color: inherit;
    background-color: var(--secondary);
}

main .panel.left .sort form input {
    width: 100%;
    margin-top: 5px;
}

main .panel.left .sort form span {
    font-size: 0.8rem;
}

main .panel.left .cow-btns .col {
    display: flex;
    overflow-y: auto;
    flex-flow: column;
    max-height: 50vh;
}

main .panel.left .cow-btns .col button {
    margin: 0;
    border-radius: 0;
    border: 5px solid var(--prime);
    border-top: none;
    border-bottom: none;
    background-color: var(--prime);
}

main .panel.left .cow-btns .col button:nth-child(odd) {
    border-color: var(--secondary);
    background-color: var(--secondary);
}

main .panel.left .cow-btns .col button:hover {
    border-left-color: inherit
}

main .panel.left .cow-btns .col button.focused {
    filter: brightness(90%);
    border-left-color: inherit;
    border-width: 100px;
}

main .panel.left .cow-btns .col button.focused-btn {
    filter: brightness(90%);
    border-width: 10px;
    border-left-color: inherit;
}

main .panel.right {
    margin-left: 10px;
    padding: 10px;
    filter: brightness(80%) blur(3px);
    background-color: var(--prime);
}

main .panel.right.cow-selected {
    filter: none;
}

main .panel.right .cow-name {
    display: flex;
    align-items: center;
}

main .panel.right .cow-name input {
    font-size: 2rem;
    margin-bottom: 5px;
}

main .panel.right .cow-stats {
    margin-top: 20px;
}

main .panel.right p {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 5px;
}

main .panel.right p:nth-child(even) {
    background-color: var(--secondary);
}

main .panel.right p label {
    display: block;
}

main .panel.right p input {
    margin-left: auto;
    border: none;
    text-align: right;
    background-color: inherit;
}