{% extends "../extends.html" %}

{% load dic %}
{% load static %}

{% block title %}
    Credits
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/recessives.css' %}">
{% endblock links %}


{% block body %}
    <h1>Cow Progress Credits</h1>
    <div class="table-container">
        <table>
            <tr>
                <td>Owen G. Dechow</td>
                <td>
                    <a class="as-link" href="https://github.com/Owen-Dechow">https://github.com/Owen-Dechow</a>
                </td>
            </tr>
            <tr>
                <td>Django 4.2</td>
                <td>
                    <a class="as-link" href="https://www.djangoproject.com/">https://www.djangoproject.com/</a>
                </td>
            </tr>
            <tr>
                <td>django-environ 0.10.0</td>
                <td>
                    <a class="as-link" href="https://pypi.org/project/django-environ/">https://pypi.org/project/django-environ/</a>
                </td>
            </tr>
            <tr>
                <td>numpy 1.24.3</td>
                <td>
                    <a class="as-link" href="https://numpy.org/">https://numpy.org/</a>
                </td>
            </tr>
            <tr>
                <td>scipy 1.10.1</td>
                <td>
                    <a class="as-link" href="https://scipy.org/">https://scipy.org/</a>
                </td>
            </tr>
            <tr>
                <td>whitenoise 6.4.0</td>
                <td>
                    <a class="as-link" href="https://pypi.org/project/whitenoise/">https://pypi.org/project/whitenoise/</a>
                </td>
            </tr>
            <tr>
                <td>XlsxWriter 3.1.0</td>
                <td>
                    <a class="as-link" href="https://pypi.org/project/XlsxWriter/">https://pypi.org/project/XlsxWriter/</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock body %}
