{% extends '../extends.html' %}

{% load dic %}
{% load static %}

{% block title %}
  Pedigree
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/pedigree.css' %}" />
  <script src="{% static 'js/pedigree.js' %}"></script>
{% endblock %}

{% block body %}
  <div class="pedigree" id="pedigree">
    <h1>Pedigree</h1>

    <p>
      Sex:{% if animal.male %}
        Male
      {% else %}
        Female
      {% endif %}
    </p>

    {% if not user.is_authenticated %}
      <h2>Some information may not available unless signed in.</h2>
    {% endif %}
  </div>
  <div id="cow-data" class="cow-data"></div>
{% endblock %}
