{% extends '../extends.html' %}

{% load dic %}
{% load static %}

{% block title %}
  Pedigree
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/pedigree.css' %}" />
  <link rel="stylesheet" href="{% static 'css/auth_form.css' %}" />
  <script src="{% static 'js/pedigree.js' %}"></script>
{% endblock %}

{% block body %}
  <script>
    sessionStorage.setItem('Pedigree', '{{data_id}}')
  </script>

  {% if animal_id >= 0 and data_id >= 0 %}
    <div class="pedigree" id="pedigree">
      <h1>Pedigree</h1>

      {% if not user.is_authenticated %}
        <h2>Some information may not available unless signed in.</h2>
      {% endif %}
    </div>
    <div id="cow-data" class="cow-data"></div>
  {% endif %}

  <form class="form">
    <h1>Find Pedigree for Animal</h1>

    {% if animal_id >= 0 and data_id <= 0 %}
      <ul class="errorlist">
        <li>No of animal of ID {{ animal_id }} found.</li>
      </ul>
      <br />
    {% endif %}

    <form>
      Animal Id<input type="number" min="0" name="animal_id" title="animal id input" />

      <button type="submit">Search</button>
    </form>
  </form>
{% endblock %}
