{% extends '../extends.html' %}

{% load dic %}
{% load static %}

{% block title %}
  Recessives
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/recessives.css' %}" />
{% endblock %}

{% block body %}
  <h1>Recessives</h1>
  <div class="table-container">
    <table>
      <tr>
        <th>Abbreviation</th>
        <th>Fatal</th>
        <th>Average Prevalence</th>
        <th>Full Name</th>
      </tr>
      <tr>
        <td colspan="4">&nbsp;</td>
      </tr>
      {% for rec in recessives %}
        <tr>
          <td>{{ rec.name }}</td>
          <td>{{ rec.fatal }}</td>
          <td>{{ rec.prev_percent }}%</td>
          <td>{{ rec.extended_name }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
